
[Desktop Entry]
Categories=GNOME;GTK;Utility;Accessibility;
Version=1.0
Type=Application
Terminal=false
Exec=sharada-braille-writer %U
Name=Sharada-Braille-Writer
Icon=/usr/share/sbw/icon.png
MimeType=text/plain;
Keywords=text;editor;
