Source: sbw
Section: graphics
Priority: optional
Maintainer: nalin.x.linux <nalin.x.linux@gmail.com>
Vcs-Browser: https://github.com/zendalona/sbw
Vcs-Git: https://github.com/zendalona/sbw.git
Homepage: https://zendalona.com/sbw/
Build-Depends: dh-python, python3, debhelper-compat (= 12)
Standards-Version: 4.2.1

Package: sharada-braille-writer
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, libbraille-input (>= 0.7), python3-gi, gir1.2-gtk-3.0, python3-speechd, espeak, python3-enchant, aspell-en
Description: Simple text editor with braille input
 Sharada-Braille-Writer allows one to use the PC keyboard to type text in
 graphical desktops in a Perkins-like way, i.e. braille patterns.
 .
 It supports several braille tables, contracted braille and abbreviations.
